<template name="graphsPageTemplate">
    <div id="graphsPage" class="page">
        <div class="doesnt-overlap-header">
            <div class="spacer row">
                {{#constant}}
                <!--<div id="chart" class="chart"></div>-->
                <div id="forceDirectGraph"></div>
                <div id="sunburstChart"></div>
                <div id="collapsibleTreeChart"></div>
                <!--<div id="powersOfTenChart"></div>-->
                <!--<div id="objectChildrenChart"></div>-->
                <!--<div id="flareChart"></div>-->
                {{/constant}}
            </div>
        </div>
    </div>
</template>